<ion-view view-title="Reg" cache-view="false" hide-nav-bar="true" class="auth-bg background-reg">
  <button class="button button-small top-btn" ng-click="viewLogin()"> <i class="icon ion-pound"> </i> Register</button>
  <div class="auth">
    <div class="container animated fadeInUp">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="username">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="password">
        </label>
      </div>
      <button class="button button-small button-full button-assertive login" ng-click="viewHome()">SignUp</button>
      <button class="button button-small button-full button-positive fb  ion-social-facebook"> SignUp With Facebook</button>
    </div>
  </div>
</ion-view>
