<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content class="desh-atom">

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-calm">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu class="desh-atom" side="left" expose-aside-when="large">>

    <!-- menu header -->
    <ion-header-bar class="bar-calm">
      <h1 class="title">BSLC Students</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <ion-item menu-close class="menu-avatar desh-atom-card-4" ui-sref="main.profile">
          <img class="desh-atom-card-12" style="float:left" src="img/images/profile-pic.jpg" height="80"/>
          <span>Matt Nash</span>
          <p>Volunteer</p>
          <p style="...">Middle School</p>
        </ion-item>
        <ion-item class="item item-icon-left" menu-close ui-sref="main.home">
          <i class="icon ion-home"> </i>
          Home
        </ion-item>
        <ion-item class="item item-icon-left" menu-close ui-sref="main.about">
          <s>Info</s>
          <i class="icon ion-information-circled"></i>
        </ion-item>
        <ion-item class="item item-icon-left" menu-close ui-sref="main.verses">
          Daily Verses
          <i class="icon ion-ios-book"></i>
        </ion-item>
        <ion-item class="item item-icon-left" menu-close ui-sref="main.events">
          Events
          <i class="icon ion-android-calendar"></i>
        </ion-item>
        <ion-item class="item item-icon-left" menu-close ui-sref="main.messagelist">
          Messages
          <i class="icon ion-android-chat"></i>
          <span class="badge">3</span>
        </ion-item>
        <ion-item class="item item-icon-left" menu-close ui-sref="main.prayers">
          Praises/Prayers
          <i class="icon ion-heart"></i>
          <span class="badge">2</span>
        </ion-item>
        <ion-item class="item item-icon-left" menu-close ui-sref="main.facebook">
          Forms
          <i class="icon ion-ios-paper"></i>
        </ion-item>
        <!--<ion-item class="item item-icon-left" menu-close ui-sref="walk">
          <s>Logout</s>
          <i class="icon ion-log-out"></i>
        </ion-item>-->
      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
